<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>test</key>
	<array>
		<string>1</string>
		<string>2</string>
		<string>3</string>
		<string>4</string>
	</array>
	<key>testDict</key>
	<dict>
		<key>Key 5</key>
		<string>zxc</string>
		<key>Key 4</key>
		<string>456</string>
		<key>Key 3</key>
		<string>qwe</string>
		<key>Key 2</key>
		<string>123</string>
		<key>Key</key>
		<string>asd</string>
	</dict>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2018-2019 Leo Natan. All rights reserved.</string>
	<key>yHelloBool</key>
	<true/>
	<key>yHelloDate</key>
	<date>2018-04-12T16:07:27Z</date>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>yHelloNumber</key>
	<integer>20</integer>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSMainStoryboardFile</key>
	<string>Main</string>
</dict>
</plist>
